<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="17670VeApps.Raiffeisensterreich" Version="1.1.0.0" Publisher="CN=A11950EB-3EEE-4A7A-A6FA-4E36F6E13AE6" />
  <mp:PhoneIdentity PhoneProductId="1a155527-85ab-4b53-886a-b2bd0e7e5118" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Raiffeisen Österreich</DisplayName>
    <PublisherDisplayName>VeApps</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="https://banking.raiffeisen.at/logincenter/login.wf;jsessionid=30889B43687081B6F3C506EC3C98741B.rlogincenter-1_b1p04?execution=e1s2">
      <uap:VisualElements DisplayName="Raiffeisen Österreich" Description="Web viewer für die Raiffeisenbank Österreich Website." BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="portraitFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://banking.raiffeisen.at/" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="http://www.raiffeisen.at/" Type="include" WindowsRuntimeAccess="all" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>